longship-qa/Longship QA.json
{
  "name": "Longship QA",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        496,
        512
      ],
      "id": "f1118f5d-08b4-43f0-b61e-9bf35274b478",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/YuriyZhakun/longship_test/contents/README.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        512
      ],
      "id": "a4b7a626-1cd1-4f7e-9601-f16e588cf81a",
      "name": "GitHub: Get File",
      "credentials": {
        "githubApi": {
          "id": "4vvcGUE00bxbZjYp",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─── Decode GitHub file response ───────────────────────────────────────────\n// GitHub encodes file content as base64 with line-breaks every 60 chars.\n// Strip those breaks before decoding to get the raw file text.\n\nconst item = $input.first().json;\n\nconst cleanBase64 = item.content.replace(/\\n/g, '');\nconst content    = Buffer.from(cleanBase64, 'base64').toString('utf-8');\nconst lines      = content.split('\\n');\n\n// Files that end with \\n produce a trailing empty element — remove it\n// so that line numbers in the array match the visual line numbers exactly.\nconst cleanLines = lines[lines.length - 1] === '' ? lines.slice(0, -1) : lines;\n\n// Build a numbered preview string for AI agents: \"1: line text\"\n// Agents must cite these exact numbers in their output.\nconst numberedPreview = cleanLines\n  .map((line, idx) => `${idx + 1}: ${line}`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    sha:             item.sha,         // Required by GitHub API to commit updates\n    lines:           cleanLines,       // Array used by Code: Apply Edits\n    total_lines:     cleanLines.length,\n    numbered_preview: numberedPreview  // Sent to both AI agents for reference\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        512
      ],
      "id": "9ee3af96-6b82-43d7-acd0-5f10ff12eb0e",
      "name": "Code: Decode File"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/YuriyZhakun/longship_test/contents/qa-report.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        512
      ],
      "id": "0db894f9-e22d-42c3-a793-35f195772175",
      "name": "GitHub: Get QA Report",
      "credentials": {
        "githubApi": {
          "id": "4vvcGUE00bxbZjYp",
          "name": "GitHub account"
        }
      },
      "disabled": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Extract run history from qa-report.md ──────────────────────────────────\n// Reads the last 3 QA runs from the report file and summarises which lines\n// were already fixed. This is fed to Agent 1 so it does not re-flag issues\n// that were addressed in previous runs.\n//\n// If the report file does not exist yet (first run, or node is disabled),\n// the try-catch below produces an empty string — Agent 1 gets no history.\n\nlet historySummary = '';\n\ntry {\n  const reportData = $('GitHub: Get QA Report').first().json;\n\n  if (reportData && reportData.content) {\n    const cleanB64    = reportData.content.replace(/\\n/g, '');\n    const reportText  = Buffer.from(cleanB64, 'base64').toString('utf-8');\n\n    // Each run block is separated by a \"---\" horizontal rule\n    const runBlocks = reportText\n      .split(/^---$/m)\n      .map(b => b.trim())\n      .filter(b => b.startsWith('## Run:'));\n\n    const recentRuns = runBlocks.slice(0, 3);\n\n    if (recentRuns.length > 0) {\n      historySummary = recentRuns.map(block => {\n        const dateMatch  = block.match(/## Run: (.+)/);\n        const date       = dateMatch ? dateMatch[1] : 'unknown date';\n\n        // Extract issue lines from the block (lines starting with \"- **Line\")\n        const issueLines = block\n          .split('\\n')\n          .filter(l => l.startsWith('- **Line') || l.startsWith('- **Lines'))\n          .map(l => '    ' + l.replace(/\\*\\*/g, '').replace(/`/g, ''))\n          .join('\\n');\n\n        return `- ${date}\\n` + (issueLines || '    no issues found');\n      }).join('\\n');\n    }\n  }\n} catch (e) {\n  // Report file does not exist yet — this is fine on the first run\n  historySummary = '';\n}\n\nreturn [{ json: { history_summary: historySummary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        512
      ],
      "id": "afddec56-1d74-4cdf-80e6-361801001319",
      "name": "Code: Extract Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the Markdown file with LINE NUMBERS prepended (format: \"N: content\"). Use these exact numbers as line_number in your response.\n\n{{ $node[\"Code: Decode File\"].json[\"numbered_preview\"] }}\n{{ $node[\"Code: Extract Memory\"].json[\"history_summary\"] ? \"\\n** CHANGE HISTORY:\\n\" + $node[\"Code: Extract Memory\"].json[\"history_summary\"] : \"\" }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a technical QA reviewer for Markdown documentation.\n\n** STRICT RULES:\n1. Focus ONLY on real problems that affect correctness or usability. Be very strict.\n2. Do NOT flag style preferences or rewrite content that is already clear and readable.\n3. Do NOT flag URL, any names, or any technical identifiers.\n4. JavaScript functions MAY be flagged as code_quality ONLY if the simplified version is functionally identical - same inputs produce same outputs, no behaviour change whatsoever.\n5. Preserve list formatting exactly: if a line starts with '3. ' or '- ', suggested_fix MUST start the same way.\n6. line_number must match the exact number shown before ':' in the input.\n7. For multi-line issues, use line_start and line_end. For single-line issues, use line_number.\n8. If nothing is clearly wrong, return an empty array [].\n9. If provided, use CHANGE HISTORY to avoid re-flagging already fixed issues.\n10. Never report the same lines twice. If you use line_start/line_end for a range, do NOT also report individual line_number issues for lines within that range. Choose one approach per problem: either a range OR individual lines, never both.\n\n\n** WHAT TO FLAG:\n- Real typos that change the meaning of a word\n- Commands that are completely unformatted plain text with no backticks or markup at all, making them indistinguishable from regular prose\n- JavaScript functions that can be rewritten as a shorter one-liner with identical behaviour\n\n** WHAT NOT TO FLAG:\n- Naming conventions, spacing, dash style, URL format\n- Commands or text that are already readable, even if not perfectly formatted\n- Backtick style inconsistencies — single vs double backticks, inline vs block formatting\n- Mixed use of ** and ` around commands if the command is still readable\n- Any issue where the fix requires adding or removing multiple lines\n\n** PRIORITY LEVELS:\n- \"high\": typos that change word meaning, clearly broken syntax\n- \"medium\": code_quality simplifications, formatting issues that impact usability\n- \"low\": formatting issues that don't impact\n\n** FIELD RULES:\n- issue_type: one of \"grammar\", \"formatting\", \"code_quality\"\n- priority: \"high\" or \"medium\" only\n- suggested_fix: a SINGLE LINE of plain text - the exact replacement for that line. No \\n, no ``` blocks, no multi-line content.\n\n** OUTPUT:\n- Raw JSON array only. No explanation. No markdown. No ```json fences.\n- High and medium issues only. Quality over quantity.\n\n** JSON FORMAT:\n[\n  {\"line_number\": N, \"issue_type\": \"grammar\", \"priority\": \"high\", \"description\": \"Describe the specific problem\", \"suggested_fix\": \"Exact single-line replacement\"},\n  {\"line_start\": N, \"line_end\": N, \"issue_type\": \"code_quality\", \"priority\": \"medium\", \"description\": \"Describe the simplification\", \"suggested_fix\": \"Complete one-liner replacement for line_start\"}\n]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1824,
        512
      ],
      "id": "05bd8e28-1153-4850-8dbc-900a004ab634",
      "name": "Agent 1: QA Analysis",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1824,
        736
      ],
      "id": "137d6063-1ce6-4896-9ff3-85e7735a245e",
      "name": "LLM: Mistral (QA Agent)",
      "credentials": {
        "mistralCloudApi": {
          "id": "8ylRc20NqX9iryLw",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"line_number\":   { \"type\": \"number\" },\n          \"line_start\":    { \"type\": \"number\" },\n          \"line_end\":      { \"type\": \"number\" },\n          \"issue_type\":    { \"type\": \"string\" },\n          \"priority\":      { \"type\": \"string\" },\n          \"description\":   { \"type\": \"string\" },\n          \"suggested_fix\": { \"type\": \"string\" }\n        },\n        \"required\": [\"issue_type\", \"priority\", \"description\"]\n      }\n    }\n  },\n  \"required\": [\"output\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1968,
        736
      ],
      "id": "55fa4d68-d34a-485b-a97d-814a78b739bd",
      "name": "Output Parser: QA",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed03b03f-adb0-4e00-9186-310f805a79c8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2256,
        512
      ],
      "id": "c2e2cc1d-7c92-458b-bf2d-a6b3d2ef6086",
      "name": "If: Issues Found"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2448,
        656
      ],
      "id": "ca651e09-7bf7-425f-81cf-e85c74176568",
      "name": "End: No Issues Found"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert these QA issues into patch operations.\n\nFile has {{ $node[\"Code: Decode File\"].json[\"total_lines\"] }} lines total.\n\nQA Issues:\n{{ JSON.stringify($(\"Agent 1: QA Analysis\").first().json.output, null, 2) }}\n\nOriginal file for reference:\n{{ $node[\"Code: Decode File\"].json[\"numbered_preview\"] }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a precise Markdown file editor. Convert QA issues into patch operations.\n\n** ALLOWED OPERATIONS:\n\n1. replace — fix a single line:\n{\"operation\":\"replace\",\"line_number\":5,\"new_text\":\"corrected line\"}\n\n2. replace_range — replace multiple consecutive lines with one or more lines:\n{\"operation\":\"replace_range\",\"line_start\":36,\"line_end\":41,\"new_lines\":[\"replacement line 1\",\"replacement line 2\"]}\n\n3. insert_after — insert one or more new lines after an existing line:\n{\"operation\":\"insert_after\",\"line_number\":10,\"new_lines\":[\"new line 1\",\"new line 2\"]}\n\n4. delete — remove a single line:\n{\"operation\":\"delete\",\"line_number\":45}\n\n** WHEN TO USE EACH:\n- replace: fix a typo or formatting issue on one existing line\n- replace_range: rewrite or simplify a multi-line block\n- insert_after: add content that does not exist yet\n- delete: remove a line that is entirely redundant\n\n** STRICT RULES:\n1. Every entry in new_lines must be a SINGLE LINE - no \\n characters inside any entry.\n2. new_text must be a SINGLE LINE — no \\n characters inside it.\n3. PRESERVE ALL Markdown formatting: if original line starts with '3. ', replacement MUST start with '3. '. If '- ', replacement MUST start with '- '.\n4. Preserve ALL leading spaces and indentation exactly as in the original.\n5. NEVER modify: URLs, repository names, file paths, package names, variable names.\n6. Line ranges must NOT overlap across operations.\n7. Use suggested_fix from the QA issue as new_text or new_lines[0] whenever it is provided.\n8. If an issue cannot be safely expressed as these operations, skip it.\n\n** OUTPUT:\n- Return ONLY a SINGLE raw JSON array. No explanation. No markdown code blocks. No ```json fences.\n- If no valid operations, reply with [].\n- If you find yourself writing any text after the closing bracket ], stop and delete it.\n\n** JSON FORMAT EXAMPLES:\n[{\"operation\":\"replace\",\"line_number\":55,\"new_text\":\"Test\"},{\"operation\":\"replace_range\",\"line_start\":25,\"line_end\":34,\"new_lines\":[\"single replacement line\"]},{\"operation\":\"insert_after\",\"line_number\":20,\"new_lines\":[\"new line\"]},{\"operation\":\"delete\",\"line_number\":45}]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2800,
        496
      ],
      "id": "4446c386-0a85-49d3-a7ee-1e9435783f51",
      "name": "Agent 2: Editor",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2800,
        720
      ],
      "id": "0f87823e-b76b-4c0a-95b5-bfa939424fe0",
      "name": "LLM: Mistral (Editor Agent)",
      "credentials": {
        "mistralCloudApi": {
          "id": "8ylRc20NqX9iryLw",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"operation\":   { \"type\": \"string\" },\n          \"line_number\": { \"type\": \"number\" },\n          \"line_start\":  { \"type\": \"number\" },\n          \"line_end\":    { \"type\": \"number\" },\n          \"new_text\":    { \"type\": \"string\" },\n          \"new_lines\":   { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n        },\n        \"required\": [\"operation\"]\n      }\n    }\n  },\n  \"required\": [\"output\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2944,
        720
      ],
      "id": "d41f0688-036e-41f9-9924-fb0c8013630c",
      "name": "Output Parser: Editor",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─── Validate, normalise, and apply patch operations ────────────────────────\n// Operations arrive pre-parsed from the structured output parser.\n// This node performs three passes:\n//   1. Normalise  — unify all operation types into a common shape\n//   2. Validate   — check bounds and reject invalid / overlapping ops\n//   3. Apply      — splice the lines array (bottom-up to preserve indices)\n\nconst operations = $input.first().json.output;\nconst lines      = [...$node['Code: Decode File'].json['lines']];\nconst totalLines = $node['Code: Decode File'].json['total_lines'];\n\nif (!Array.isArray(operations)) {\n  return [{ json: { valid: false, error: 'Editor output is not an array' } }];\n}\n\nconst skippedOps = [];\nconst normalized = [];\n\n// ── Pass 1: Normalise ────────────────────────────────────────────────────────\n// Convert every operation variant into: { operation, line_start, line_end, new_lines }\n\nfor (const op of operations) {\n  let norm = null;\n\n  if (op.operation === 'replace') {\n    if (!Number.isInteger(op.line_number)) {\n      skippedOps.push({ ...op, reason: 'replace: missing or invalid line_number' });\n      continue;\n    }\n    norm = {\n      operation:  'replace',\n      line_start: op.line_number,\n      line_end:   op.line_number,\n      new_lines:  [op.new_text !== undefined ? String(op.new_text) : '']\n    };\n\n  } else if (op.operation === 'replace_range') {\n    if (!Number.isInteger(op.line_start) || !Number.isInteger(op.line_end)) {\n      skippedOps.push({ ...op, reason: 'replace_range: missing line_start or line_end' });\n      continue;\n    }\n    if (op.line_start > op.line_end) {\n      skippedOps.push({ ...op, reason: 'replace_range: line_start > line_end' });\n      continue;\n    }\n    const newLines = Array.isArray(op.new_lines)\n      ? op.new_lines.map(String)\n      : (op.new_text !== undefined ? [String(op.new_text)] : []);\n    norm = { operation: 'replace_range', line_start: op.line_start, line_end: op.line_end, new_lines: newLines };\n\n  } else if (op.operation === 'insert_after') {\n    if (!Number.isInteger(op.line_number)) {\n      skippedOps.push({ ...op, reason: 'insert_after: missing or invalid line_number' });\n      continue;\n    }\n    const newLines = Array.isArray(op.new_lines)\n      ? op.new_lines.map(String)\n      : (op.new_text !== undefined ? [String(op.new_text)] : []);\n    if (newLines.length === 0) {\n      skippedOps.push({ ...op, reason: 'insert_after: new_lines is empty' });\n      continue;\n    }\n    norm = { operation: 'insert_after', line_start: op.line_number, line_end: op.line_number, new_lines: newLines };\n\n  } else if (op.operation === 'delete') {\n    const start = op.line_number || op.line_start;\n    const end   = op.line_end   || start;\n    if (!Number.isInteger(start)) {\n      skippedOps.push({ ...op, reason: 'delete: missing line_number or line_start' });\n      continue;\n    }\n    norm = { operation: 'delete', line_start: start, line_end: end, new_lines: [] };\n\n  } else {\n    skippedOps.push({ ...op, reason: `unknown operation type: ${op.operation}` });\n    continue;\n  }\n\n  if (norm.line_start < 1 || norm.line_start > totalLines) {\n    skippedOps.push({ ...op, reason: `line_start ${norm.line_start} out of range (1-${totalLines})` });\n    continue;\n  }\n  if (norm.line_end < 1 || norm.line_end > totalLines) {\n    skippedOps.push({ ...op, reason: `line_end ${norm.line_end} out of range (1-${totalLines})` });\n    continue;\n  }\n\n  if (norm.new_lines.some(l => l.includes('\\n'))) {\n    skippedOps.push({ ...op, reason: 'new_lines contains embedded newline character' });\n    continue;\n  }\n\n  if (norm.operation === 'replace' && norm.new_lines[0] === lines[norm.line_start - 1]) {\n    skippedOps.push({ ...op, reason: 'new_text is identical to the original line' });\n    continue;\n  }\n\n  normalized.push(norm);\n}\n\nnormalized.sort((a, b) => a.line_start - b.line_start);\n\nconst validOps = [];\nlet lastEnd = 0;\n\nfor (const op of normalized) {\n  if (op.line_start <= lastEnd) {\n    skippedOps.push({\n      operation:  op.operation,\n      line_start: op.line_start,\n      line_end:   op.line_end,\n      reason:     `overlapping range: conflicts with previous operation ending at line ${lastEnd}`\n    });\n    continue;\n  }\n  lastEnd = op.line_end;\n  validOps.push(op);\n}\n\nif (validOps.length === 0) {\n  return [{ json: { valid: false, error: 'No valid operations after filtering', skipped: skippedOps } }];\n}\n\nvalidOps.sort((a, b) => b.line_start - a.line_start);\n\nfor (const op of validOps) {\n  const startIdx = op.line_start - 1;\n  const count    = op.line_end - op.line_start + 1;\n\n  if (op.operation === 'replace' || op.operation === 'replace_range') {\n    lines.splice(startIdx, count, ...op.new_lines);\n  } else if (op.operation === 'delete') {\n    lines.splice(startIdx, count);\n  } else if (op.operation === 'insert_after') {\n    lines.splice(startIdx + 1, 0, ...op.new_lines);\n  }\n}\n\nconst updatedContent    = lines.join('\\n') + '\\n';\nconst updatedContentB64 = Buffer.from(updatedContent).toString('base64');\n\nconst operationsLog = validOps.map(op => ({\n  operation:       op.operation,\n  line_start:      op.line_start,\n  line_end:        op.line_end,\n  new_lines_count: op.new_lines.length\n}));\n\nreturn [{\n  json: {\n    valid:               true,\n    updated_content:     updatedContent,\n    updated_content_b64: updatedContentB64,\n    applied_count:       validOps.length,\n    skipped_count:       skippedOps.length,\n    skipped_ops:         skippedOps,\n    operations_log:      operationsLog\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        496
      ],
      "id": "41dfc87d-3982-4d85-b2fd-61e293ce7915",
      "name": "Code: Apply Edits"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json[\"valid\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3488,
        496
      ],
      "id": "ab6ff3a5-a26f-46b1-b582-20e8ae3b69dc",
      "name": "If: Patch Is Valid"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3680,
        624
      ],
      "id": "ee6a6bc0-28c1-4dfe-970d-47b15ba11355",
      "name": "End: Invalid Patch – Skipped"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/YuriyZhakun/longship_test/contents/README.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"AI QA: apply {{ $('Code: Apply Edits').first().json.applied_count }} edit(s) to README.md\",\n  \"content\": \"{{ $('Code: Apply Edits').first().json.updated_content_b64 }}\",\n  \"sha\": \"{{ $('Code: Decode File').first().json.sha }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3984,
        480
      ],
      "id": "4c14bd2c-b4df-49ce-96b9-8f521fcd07d2",
      "name": "GitHub: Commit File",
      "credentials": {
        "githubApi": {
          "id": "4vvcGUE00bxbZjYp",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─── Build the qa-report.md entry for this run ───────────────────────────────\n// Prepends a new run block to the top of the existing report file so that\n// the most recent run is always visible first.\n// The report is also read by Code: Extract Memory on the next run to build\n// the change-history context for Agent 1.\n\nconst runDate     = new Date().toISOString().replace('T', ' ').slice(0, 19) + ' UTC';\nconst issues      = $('Agent 1: QA Analysis').first().json.output || [];\nconst applyResult = $('Code: Apply Edits').first().json;\n\nconst issueLines = issues.map(issue => {\n  const range = issue.line_start\n    ? `Lines ${issue.line_start}-${issue.line_end}`\n    : `Line ${issue.line_number}`;\n  return `- **${range}** \\`[${issue.issue_type}]\\` \\`${issue.priority}\\` -- ${issue.description}`;\n}).join('\\n');\n\nconst opsLog = (applyResult.operations_log || []).map(op => {\n  const range = op.line_start === op.line_end\n    ? `Line ${op.line_start}`\n    : `Lines ${op.line_start}-${op.line_end}`;\n  return `- \\`${op.operation}\\` ${range}` +\n    (op.new_lines_count > 0 ? ` -> ${op.new_lines_count} line(s)` : '');\n}).join('\\n');\n\nconst skippedSection = applyResult.skipped_count > 0\n  ? '\\n### Skipped operations\\n' +\n    applyResult.skipped_ops\n      .map(op => `- \\`${op.operation}\\` line ${op.line_start || op.line_number}: ${op.reason}`)\n      .join('\\n') + '\\n'\n  : '';\n\nconst newEntry =\n  `## Run: ${runDate}\\n` +\n  `**Issues found:** ${issues.length} | **Applied:** ${applyResult.applied_count} | **Skipped:** ${applyResult.skipped_count}\\n\\n` +\n  `### Issues detected\\n${issueLines || '_none_'}\\n\\n` +\n  `### Operations applied\\n${opsLog || '_none_'}\\n` +\n  skippedSection +\n  `\\n---\\n\\n`;\n\nlet existingContent = '';\nlet reportSha       = undefined;\n\ntry {\n  const reportData = $('GitHub: Get QA Report').first().json;\n  if (reportData && reportData.content) {\n    const cleanB64  = reportData.content.replace(/\\n/g, '');\n    existingContent = Buffer.from(cleanB64, 'base64').toString('utf-8');\n    reportSha       = reportData.sha;\n  }\n} catch (e) {}\n\nconst header      = '# QA Run Log\\n\\n';\nconst prevContent = existingContent.startsWith('# QA Run Log')\n  ? existingContent.slice(header.length)\n  : existingContent;\nconst fullContent = header + newEntry + prevContent;\nconst contentB64  = Buffer.from(fullContent).toString('base64');\n\nconst bodyObj = { message: `AI QA: log run ${runDate}`, content: contentB64 };\nif (reportSha) bodyObj.sha = reportSha;\n\nreturn [{ json: { report_body: JSON.stringify(bodyObj) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        480
      ],
      "id": "3b55097d-004b-4577-8d97-9c08b4f32b30",
      "name": "Code: Build Report"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/YuriyZhakun/longship_test/contents/qa-report.md",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.report_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4368,
        480
      ],
      "id": "4ee4b5e7-42db-4f50-b7b1-c9fbef5059a9",
      "name": "GitHub: Commit Report",
      "credentials": {
        "githubApi": {
          "id": "4vvcGUE00bxbZjYp",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Fetch and decode\n\nGitHub returns file content as base64 (with line breaks every 60 characters). Those need to be stripped before decoding (otherwise `Buffer.from()` breaks down).\n\nAfter decoding the file is split into:\n- `lines[]` - raw array used by the patch engine\n- `numbered_preview` - format `N: line text`, sent to both agents\n- `sha` - passed to the commit step as an optimistic lock\n",
        "height": 692,
        "width": 450,
        "color": "#2D1F37"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "7e82a753-3ce0-4afd-afbe-fe6123a779d3",
      "name": "Block 1 - Fetch and decode"
    },
    {
      "parameters": {
        "content": "# Overview\n\nThe workflow reads a Markdown file from GitHub, runs it through two AI agents, applies the resulting edits line by line, and commits the result back. A QA run log is maintained in a separate file.\n\n**GitHub repository:** https://github.com/YuriyZhakun/longship_test\n\nI chose task 2 because it touches several things I find interesting: structured LLM output, safe file patching, and a real feedback loop (rather than a fire-and-forget generation as mentioned in the task). I don't have a lot of hands-on experience with GitHub integrations, but I had a couple of test projects there already, so I used one of the existing test files as a base and took it as a good opportunity to dig into the API properly.\n\nOne tradeoff worth mentioning: a unified diff / git apply approach would be more robust than the current line-number method, since it anchors changes to surrounding context rather than raw line numbers. Libraries like jsdiff handle this well, but integrating them into an n8n Code node adds complexity with external npm packages and would have taken more time to implement properly. The line-number approach was a conscious tradeoff given the scope.\n\n**Flow in short:**\nfetch file -> decode + number lines -> (optionally) load run history -> Agent 1 finds issues -> Agent 2 converts them to patch ops -> validate and apply -> commit file + append to run log\n\n**Model:** Mistral free tier for both agents\n**Integration:** GitHub API (no mocks)\n**Required credentials:**\n- GitHub account\n- Mistral Cloud account",
        "height": 692,
        "width": 674,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aebcc250-5fff-4576-b497-b1320f6a402b",
      "name": "Block 1 - Fetch and decode1"
    },
    {
      "parameters": {
        "content": "# Change history (optional)\n\nI decided to add this optional step to give the AI agent context on previous changes. By analyzing the last three QA run summaries, the agent understands what has already been addressed so it does not re-flag lines already fixed in a previous run. I believe this is a reasonable addition for better consistency.\n\nThe node has `continueOnFail` enabled so the workflow starts clean when the report file does not exist yet.\n\n**To enable:** toggle the node on. Useful when running repeatedly on the same file.\n\n**Potential improvement:** For a production version I'd probably use a RAG system and do a semantic search at runtime instead of passing raw text. That avoids context window growth and enables cross-file memory.",
        "height": 692,
        "width": 450,
        "color": "#2D1F37"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "66c6da67-e28b-4dae-9342-41a3ce1a0813",
      "name": "Block 1 - Fetch and decode2"
    },
    {
      "parameters": {
        "content": "# Agent 1 - QA analysis\n\nReads the numbered file and returns a JSON array of issues. The prompt is restrictive on purpose: style preferences, URL formats, and identifier naming are excluded. The agent should only flag things that are actually wrong:\n- typos that change meaning\n- completely unformatted commands (no backticks at all)\n- JS functions that can be simplified without changing behaviour\n\nChange history from the memory block is appended to the prompt when available.\n\nThe structured output parser validates the schema and retries up to 3 times on malformed JSON.\n\n**Potential improvement:** AI agent could be added here, but I used I used `chainLlm`  instead to meet the task requirements and keep it simple without the high costs or delays of an agent's \"thinking\" process. ",
        "height": 900,
        "width": 498,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        0
      ],
      "id": "112f413c-4640-4554-bf34-37d6bd05d9f0",
      "name": "Block 1 - Fetch and decode3"
    },
    {
      "parameters": {
        "content": "# Agent 2 - editor\n\nConverts QA issues into patch operations. Four types are supported:\n- `replace` - fix a single line\n- `replace_range` - rewrite consecutive lines\n- `insert_after` - add new content after a line\n- `delete` - remove a line\n\nThe agent gets the full numbered file alongside the issues for context. When Agent 1 included a `suggested_fix`, the prompt instructs Agent 2 to use it directly. Overlapping ranges and embedded newlines in replacement strings are forbidden. If an issue cannot be expressed safely, the agent skips it.\n\nSame retry setup as Agent 1: structured output parser, 3 attempts, 3s delay.",
        "height": 900,
        "width": 546,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2656,
        0
      ],
      "id": "25097ad8-2078-49b4-bda8-a2fa88b88ffb",
      "name": "Block 1 - Fetch and decode4"
    },
    {
      "parameters": {
        "content": "# Patch engine\n\nApplies parsed operations to the lines array in three passes.\n\n**Pass 1 - normalise.** All operation types are unified into `{ operation, line_start, line_end, new_lines }`. Operations with missing fields, inverted ranges, empty `new_lines` on an insert, or embedded newlines get moved to a skipped list with a reason.\n\n**Pass 2 - overlap detection.** Operations are sorted by start line and walked in order. Any op whose start line falls within the range of the previous one is skipped.\n\n**Pass 3 - apply bottom-up.** Applied from last line upward so earlier line indices are not shifted by operations below.\n\nIf nothing survives all three passes, `valid: false` is returned and the commit is skipped.",
        "height": 900,
        "width": 642,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3232,
        0
      ],
      "id": "1d28e721-c64b-4f02-88f8-f7cbf6a2b2dc",
      "name": "Block 1 - Fetch and decode5"
    },
    {
      "parameters": {
        "content": "# Commit and report\n\n**GitHub: Commit File** puts the updated README back. The commit message includes the edit count (`AI QA: apply 3 edit(s) to README.md`) so the git log stays readable. The SHA from the initial GET acts as an optimistic lock against concurrent changes.\n\n**Code: Build Report** builds a new run block and prepends it to the existing report so the latest run is always at the top. It reuses the report content already fetched earlier, no extra API call needed.\n\n**GitHub: Commit Report** commits qa-report.md. SHA is omitted on first commit, included on updates.\n\nKnown limitation: these are two separate PUT requests. If the workflow fails between them, the README gets updated but the report does not. In a stricter setup both writes should go through the Git Trees API as a single atomic commit.",
        "height": 692,
        "width": 658,
        "color": "#2D1F37"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3904,
        0
      ],
      "id": "316aaaad-27fe-44b6-848e-209fcc2730ee",
      "name": "Block 1 - Fetch and decode6"
    },
    {
      "parameters": {
        "content": "# Gate\n\nIf Agent 1 returns an empty array the workflow stops here. \n\nNo commit, no report entry, nothing written to GitHub. Checks that `$json.output` is a non-empty array with strict type validation.\n\n**Potential improvement:** Logging node could be added here to track \"Clean Runs.\" This would provide confirmation that the file was checked and no issues were found, rather than the workflow simply ending in silence.",
        "height": 900,
        "width": 434,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        0
      ],
      "id": "1bb6602b-0afa-4016-bc86-9d683844c7d1",
      "name": "Block 1 - Fetch and decode7"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "GitHub: Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Get File": {
      "main": [
        [
          {
            "node": "Code: Decode File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Decode File": {
      "main": [
        [
          {
            "node": "GitHub: Get QA Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Get QA Report": {
      "main": [
        [
          {
            "node": "Code: Extract Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extract Memory": {
      "main": [
        [
          {
            "node": "Agent 1: QA Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: QA Analysis": {
      "main": [
        [
          {
            "node": "If: Issues Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Mistral (QA Agent)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1: QA Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser: QA": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 1: QA Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If: Issues Found": {
      "main": [
        [
          {
            "node": "Agent 2: Editor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End: No Issues Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: Editor": {
      "main": [
        [
          {
            "node": "Code: Apply Edits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Mistral (Editor Agent)": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2: Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser: Editor": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 2: Editor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code: Apply Edits": {
      "main": [
        [
          {
            "node": "If: Patch Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Patch Is Valid": {
      "main": [
        [
          {
            "node": "GitHub: Commit File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End: Invalid Patch – Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Commit File": {
      "main": [
        [
          {
            "node": "Code: Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Report": {
      "main": [
        [
          {
            "node": "GitHub: Commit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85ab0d93-2231-4b68-87c7-1bd69b5be57c",
  "meta": {
    "instanceId": "fcceb79a984102a632a2d6b4a8146df18de657e04a863a1bd615031231cc053b"
  },
  "id": "MzByRoEw7FIigvwI",
  "tags": []
}